[Unit]
Description=tomcat_b
After=network.target tomcat_a.service

[Service]
Type=forking
User=zucchetti
Group=zucchetti
PermissionsStartOnly=true
LimitNOFILE=10000
Environment=CATALINA_PID=/opt/infinity/tomcat_b/temp/tomcat.pid
Environment=JAVA_HOME=/opt/infinity/java
Environment=CATALINA_HOME=/opt/infinity/tomcat_b
Environment=CATALINA_BASE=/opt/infinity/tomcat_b
Environment="JAVA_OPTS=-Duser.timezone=Europe/Rome -Dfile.encoding=ISO-8859-15 -Djava.awt.headless=true -Duser.language=it -Dsun.zip.disableMemoryMapping=true -Xms3072m -Xmx4096m -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/opt/infinity/tomcat_b/logs -XX:MaxMetaspaceSize=1024m -XX:MetaspaceSize=768m -XX:ReservedCodeCacheSize=480m -Xss2m -XX:MaxJavaStackTraceDepth=50000 -XX:+UseG1GC -XX:MaxGCPauseMillis=500 -XX:+UseStringDeduplication -XX:+DisableExplicitGC -Xloggc:/opt/infinity/tomcat_b/logs/gc.log -XX:ErrorFile=/opt/infinity/tomcat_b/logs/java_error%p.log"
ExecStartPre=/usr/bin/rm -rf /opt/infinity/tomcat_b/work/Catalina
ExecStartPre=/usr/bin/chmod 755 -R /opt/infinity/tomcat_b/
ExecStartPre=/usr/bin/chown -R zucchetti:zucchetti /opt/infinity/tomcat_b/
ExecStartPre=/usr/bin/mkdir -p /opt/infinity/Documenti
ExecStartPre=/usr/bin/chmod 755 -R /opt/infinity/Documenti/
ExecStartPre=/usr/bin/chown -R zucchetti:zucchetti /opt/infinity/Documenti/
ExecStart=/bin/sh /opt/infinity/tomcat_b/bin/startup.sh
ExecStop=/bin/kill -15 $MAINPID
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target